<!DOCTYPE html>
<html lang="en">
    <%# Head %>
    <head>
        <% include ./partials/head %>
       <link rel="stylesheet" href="/style2.css" />
    </head>
    <body>
    
    <%# header %>
        <header>
            <h4><a href="/"> <i class="material-icons">arrow_back</i>Home</a></h4>
        </header>

    <%# main page %>
        <!-- home -->
    <div id="home">
        <div class="wrapper">
            <div class="title-wrapper">
                <div class="title-img center shadow">
                    <img src="<%= imgSrc %>" alt="<%= artistName %>">
                </div>
                <div class="title-name shadow center">
                    <h3><%= songName %></h3>
                    <p><%= artistName %></p>
                    <p><%= year %></p>
                </div>
            </div>

            <div class="lyrics-wrapper center shadow">
                <p><%- content.replace(/\n/gi,'<br\>') %></p>
            </div>
        </div>
    </div>

    
    </body>

    <% include ./partials/scripts %>

</html>
